@use "../../styles/partials/colors" as *;
.LoL-Page {
    padding: 0 5%;
}
.Main-Article__container {
    display: flex;
    gap: 2rem;
}
.News-Articles {
    display: flex;

    &__container {
        width: 90%;
    }
}

.LoL__title {
    margin: 2rem 6rem;
    padding-bottom: 0.5rem;
    position: relative;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, $primary-red, $black);
    border-image-slice: 1;
}
