@use "../../styles/partials/colors" as *;
@use "../../styles/partials/responsive" as *;
.LoL-Page {
    padding: 0 5%;
    @include desktop {
        padding: 0 32px;
    }
    @include tablet {
        padding: 0 24px;
    }
}
.Main-Article__container {
    display: flex;
    justify-content: space-between;

    @include tablet {
        flex-direction: column-reverse;
    }
}
.News-Articles {
    display: flex;

    &__container {
        width: 90%;
    }
}

.LoL__title {
    margin: 2rem 6rem;
    padding-bottom: 0.5rem;
    position: relative;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, $primary-red, $black);
    border-image-slice: 1;

    @include desktop {
        margin: 2rem 2rem;
    }
}
