@use "../../styles/partials/colors" as *;
@use "../../styles/partials/responsive" as *;
.LoL-Page {
    padding: 0 10% 0 10%;

    @include desktop-wide {
        padding: 0 5%;
    }
    @include desktop {
        padding: 0 2rem;
    }
    @include tablet {
        padding: 0 1.5rem;
    }
}
.Main-Article__container {
    display: flex;
    justify-content: space-between;

    @include tablet {
        flex-direction: column-reverse;
        gap: 1rem;
    }
}
.News-Articles {
    display: flex;

    &__container {
        width: 90%;
    }
}

.LoL__title {
    margin: 2rem 8%;
    padding-bottom: 0.5rem;
    position: relative;
    border-bottom: 0.125rem solid transparent;
    border-image: linear-gradient(0.25turn, $primary-red, $black);
    border-image-slice: 1;

    @include desktop-wide {
        margin: 2rem 5%;
    }

    @include desktop {
        margin: 2rem 2rem;
    }
}
