@use "../../styles/partials/colors" as *;
@use "../../styles/partials/responsive" as *;
.Teams {
    display: flex;
    flex-wrap: wrap;

    @include desktop-wide {
        justify-content: center;
        gap: 3rem;
    }
}
