@font-face {
    font-family: "Barlow";
    src: url("../../assets/fonts/Barlow-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Barlow";
    src: url("../../assets/fonts/Barlow-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Barlow";
    src: url("../../assets/fonts/Barlow-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Rift";
    src: url("../../assets/fonts/Fort\ Foundry\ -\ Rift-Regular.otf")
        format("openface");
    font-weight: 600;
}
