@mixin page-header-td {
    font-size: 2.125rem;
    line-height: 2.75rem;
    font-weight: 700;
}

@mixin names-td {
    font-size: 18px;
    line-height: 1.5rem;
    font-weight: 600;
}

@mixin body-td {
    font-size: 16px;
    line-height: 1.25rem;
    font-weight: 400;
}

@mixin section-header-td {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
}

@mixin page-sub-header-td {
    font-size: 1.75rem;
    line-height: 2.75rem;
    font-weight: 700;
}
