@use "../../styles/partials/colors" as *;
@use "../../styles/partials/sizing" as *;

.Profile {
    width: 30%;
    margin: 1rem auto;
    padding: 1rem 1rem;
    background-color: white;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, $primary-red, $black) 1;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -2px -2px 4px rgba(0, 0, 0, 0.5);
    &__title {
        text-align: center;
        margin: 2rem 0 3rem 0;
        font-weight: 700;
        font-size: 32px;

        background: -webkit-linear-gradient(left, $primary-red, $black);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__email {
        @include names-td;
    }
    &__phone {
        @include names-td;
    }
    &__address {
        @include names-td;
    }
    &__button {
        color: white;
        border: transparent;
        background-color: $primary-red;
        padding: 0.5rem;
        height: 40px;
        width: 120px;
        border-radius: 3px;
        margin: 1rem 0;
    }
}
