@use "../../styles/partials/colors" as *;
@use "../../styles/partials/sizing" as *;
@use "../../styles/partials/responsive" as *;

.Navbar {
    display: flex;
    gap: 6rem;
    padding: 0 6%;
    border-bottom: 0.0625rem solid $medium-grey;
    align-items: center;
    margin-bottom: 1rem;
    height: 3.125rem;
    background-color: white;

    @include desktop {
        padding: 0 2rem;
    }

    @include tablet {
        justify-content: center;
    }

    &__news {
        text-decoration: none;
        @include names-td;
        font-family: "Kanit";
        font-weight: 400;
        color: $black;
        height: 100%;
        display: flex;
        align-items: center;

        @include tablet {
            font-size: 1rem;
        }
        &:hover {
            border-bottom: 0.1875rem solid $primary-red;
            color: $primary-red;
        }
    }
    &__teams {
        @include names-td;
        text-decoration: none;
        font-family: "Kanit";
        font-weight: 400;
        color: $black;
        height: 100%;
        display: flex;
        align-items: center;

        @include tablet {
            font-size: 1rem;
        }

        &:hover {
            border-bottom: 0.1875rem solid $primary-red;
            color: $primary-red;
        }
    }
}
